<div data-search-books-target="list" class="d-flex flex-wrap gap-4 justify-content-center mt-4">
  <% @favorite_books.each do |book| %>
    <div class="d-flex card text-center col-3">
      <div class="card-header">
        Author: <%= "#{book.author.first_name} #{book.author.last_name}" %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text">Published by:<%= book.publisher.name %></p>
          <%= button_to "Remove from Favorites", remove_favorites_book_path(book), method: :post, class: "btn btn-danger", remote: true %>
      </div>
      <div class="card-footer text-muted d-flex justify-content-center align-items-center">
        Rating: <% book.review.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="container d-flex justify-content-center mt-5">
  <%= link_to "Back to All Books", books_path, class: "btn btn-flat" %>
</div>
